.login {
    max-width: 500px;
    margin-top: 150px;
    background: #f0f4f2;
    padding: 40px;
}

.table_width {
    width: 100%;
}

.botao {
    margin: 0;
    width: 100%;
}

.no_space {
    padding: 0;
}